<ion-header>
  <ion-toolbar>
    <ion-title>Mi App de Tareas</ion-title>
  </ion-toolbar>
</ion-header>

<div class="content">

  <ion-list>
    <ion-item *ngFor="let tarea of tareas">
      <!-- Mostrar los detalles de la tarea aquí -->
      <ion-label>{{ tarea.titulo }}</ion-label>
      <!-- Agrega más detalles si es necesario -->
    </ion-item>
  </ion-list>

  <ion-card style="margin-top: 30px;">
    <ion-card-header>
      <ion-card-title style="color: purple;">Ir al veterinario</ion-card-title>
      <ion-card-subtitle><strong>Fecha</strong>     05/12</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
        <ion-button expand="block" style="--background: #d3d3d3; color: purple;">+ Ver más detalles</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card style="margin-top: 30px;">
    <ion-card-header>
      <ion-card-title style="color: purple;">Ir al veterinario</ion-card-title>
      <ion-card-subtitle><strong>Fecha</strong>     05/12</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
        <ion-button expand="block" style="--background: #d3d3d3; color: purple;">+ Ver más detalles</ion-button>
    </ion-card-content>
  </ion-card>

</div>



  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click) = "abrirModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>