<ion-toolbar>
  <ion-title>
    Agregar Tarea
  </ion-title>
</ion-toolbar>

<ion-content>
  <form #nuevaTareaForm="ngForm">

    <ion-item>
      <ion-label>Titulo</ion-label>
      <ion-input name="titulo" type="text" [(ngModel)]="nuevaTarea.titulo" required></ion-input>
    </ion-item>

     
    <ion-input id="Fecha" label="Fecha estimada de conclusion"  fill="outline" name="fecha" type="date" min="2024-01-01" [(ngModel)]="nuevaTarea.fecha"></ion-input>
    
       
    <ion-text><b>Descripción: </b></ion-text>
    <ion-item>
      <ion-textarea required
        placeholder="Ingresa la descripcion"
        [autoGrow]="true"
        name="descripcion"
        [(ngModel)]="nuevaTarea.descripcion"
      >
      </ion-textarea>
    </ion-item>

    <ion-button [disabled]="!nuevaTareaForm.valid" (click)="submit()" (click)="cerrarModal()" class="submit">Agregar tarea</ion-button>
  </form>
</ion-content>