ion-title{
  text-align: center;
}

ion-content{
  align-items: center;
  text-align: center;
}

form{
  width: 90vw;
  margin-left: 15px;
}

ion-list{
  display: flex;
  justify-content: space-between;
}